{
  "name": "test",
  "components": {
    "sender": {
      "name": "sender",
      "type": "module",
      "module": "net.kuujo~test-mod-1~1.0"
    },
    "receiver": {
      "name": "receiver",
      "type": "module",
      "module": "net.kuujo~test-mod-2~1.0"
    }
  },
  "connections": [
    {
      "source": {
        "component": "sender",
        "port": "out"
      },
      "target": {
        "component": "receiver",
        "port": "in"
      }
    }
  ]
}