<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vertigo - {{ page.title }}</title>
    <meta name="description" content="Vertigo">
    <meta name="author" content="Jordan Halterman">
    <meta name="keywords" content="Vertigo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles and icons -->
    <link rel="stylesheet" href="{{ site.basepath }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.basepath }}/assets/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ site.basepath }}/assets/css/prettify.css" />
    <link rel="stylesheet" href="{{ site.basepath }}/assets/css/css.css">
    <link rel="shortcut icon" href="{{ site.basepath }}/assets/img/favicon.ico" sizes="48x48">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23325335-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

{% include header.html %}

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group side-menu">
{% include side-menu.html %}
          </div>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div id="content">
  {{ content }}
          </div>
        </div><!--/span-->

      </div><!--/row-->
    </div>

{% include footer.html %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.basepath }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.basepath }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.basepath }}/assets/js/google-code-prettify/prettify.js"></script>
    <script src="{{ site.basepath }}/assets/js/application.js"></script>
  </body>
</html>